<html>
<body>
  <nav class="navbar navbar-expand-sm   navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item dropdown dmenu">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Our Service
              </a>
              <div class="dropdown-menu sm-menu">
                <a class="dropdown-item" href="#">service2</a>
                <a class="dropdown-item" href="#">service 2</a>
                <a class="dropdown-item" href="#">service 3</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/grupocomponent">Call</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Proyectos">Proyectos</a>
            </li>
            </ul>


          </div>

  </nav>
</body>


<!--

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark active">
  <a class="navbar-brand" href="#">Fixed navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item" >
        <a class="nav-link" href="/login">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/grupocomponent">grupo component<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a></a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">


    </form>
  </div>
</nav> -->
</html>
